@model bool
@{
    ViewBag.Title = "Work Permit";
}

@if (Model == true)
{
    <div class="path-descr">
        <div><a href="@Url.Action(MVC.Home.Index())">@T("Home")</a></div>
        <div>@T("New Application")</div>
        <div>@T("Residence Permit")</div>
    </div>
    @Html.Partial(MVC.Shared.Views._DashboardTabs, 2)
}
else
{
    <div class="path-descr">
        <div><a href="@Url.Action(MVC.Home.Index())">@T("Home")</a></div>
        <div><a href="@Url.Action(MVC.Info.ResidencePermit())">@T("Residency Permits")</a></div>
        <div>@T("Working in Finland")</div>
    </div>
}

<h1>@T("Working in Finland")</h1>

<h4>
    @T("In order to move to Finland, you need a residence permit. This residence permit can be either be a" +
            "residence permit based on employment by an organization, or a residence permit for the self" +
            "employed. Select the right type of residence permit you seek to learn more about the application" +
            "process. Working in Finland with a permit granted by another country is usually not allowed," +
            "especially if the duration of the job is longer than 90 days.")
</h4>
<!--TO DO  Finnish Immigration Service Aairs  is link to  OR undeline -->
@T("For more information about working in Finland, please visit the") <u><a href="http://www.migri.fi">Finnish Immigration Service Affairs</a></u>.

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("Residence permit for employment")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Employee")</h1>
            <h1>@T("Cultural Arts")</h1>
            <h1>@T("International Relations")</h1>
            <h1>@T("Mass Media")</h1>
            <h1>@T("Delivery Contractor")</h1>
            <h1>@T("Employee of a religious community or a non-profit association")</h1>
            <h1>@T("Degree holder *")</h1>
            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(MVC.Info.ActionNames.WorkPermit, MVC.Info.Name), UmaButtonType.FormSubmit, new { @class = "row-padding" })
            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("645,00 €")</div>
            </div>
        </div>

        <div class="col-sm-4 col-sm-offset-2 ">
            <div class="row-padding text-center">
                <p>
                    @T("* if you do not yet have a job when your student’s residence permit" +
                "expires, you may apply for a residence permit extension from the" +
                "police to look for a job. When you find a job, apply for a residence" +
                "permit from the police")
                </p>
            </div>
        </div>
    </div>
</div>

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("For persons with special expertise")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Specialist")</h1>
            <h1>@T("EU Blue Card")</h1>
            <h1>@T("Visiting teacher, lecturer, instructor or consult")</h1>
            <h1>@T("Top or middle management for a company")</h1>

            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(Model ? MVC.Dashboard.ResidenceSpecialist() : MVC.Info.WorkPermitSpecialist()), UmaButtonType.FormSubmit, new { @class = "row-padding" })

            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("450,00 €")</div>
            </div>
        </div>
    </div>
</div>

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("Application for internship")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Traineeship or transfer")</h1>
            <h1>@T("within a company")</h1>
            <h1>@T("Working holiday")</h1>

            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(MVC.Info.ActionNames.WorkPermit, MVC.Info.Name), UmaButtonType.FormSubmit, new { @class = "row-padding" })
            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("295,00 €")</div>
            </div>
        </div>
    </div>
</div>

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("Scientific research")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Researcher")</h1>
            <h1>
                @T("Full Time Student compensated" +
                    "financially by a university for working" +
                    "on a dissertation")
            </h1>

            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(MVC.Info.ActionNames.WorkPermit, MVC.Info.Name), UmaButtonType.FormSubmit, new { @class = "row-padding" })
            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("495,00 €")</div>
            </div>
        </div>
    </div>
</div>

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("Au pair status")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Au pair")</h1>

            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(MVC.Info.ActionNames.WorkPermit, MVC.Info.Name), UmaButtonType.FormSubmit, new { @class = "row-padding" })
            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("255,00 €")</div>
            </div>
        </div>
    </div>
</div>

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("Self-employment")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Self employed person")</h1>

            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(MVC.Info.ActionNames.WorkPermit, MVC.Info.Name), UmaButtonType.FormSubmit, new { @class = "row-padding" })
            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("1395,00 €")</div>
            </div>
        </div>
    </div>
</div>

<!--Block-->
<div class="row">
    <div class="col-lg-8">
        <h2>@T("Self-employment")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Athlete")</h1>
            <h1>@T("Sports coach")</h1>

            @Html.UmaButtonLink(@T("APPLY NOW").ToString(), @Url.Action(MVC.Info.ActionNames.WorkPermit, MVC.Info.Name), UmaButtonType.FormSubmit, new { @class = "row-padding" })
            <div class="row row-padding-top">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Estimated processing time:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("4 weeks to 8 months")</div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-8 text-custom-right">@T("Application fee:")</div>
                <div class="col-sm-4 col-xs-8 text-custom-left">@T("595,00 €")</div>
            </div>
        </div>
    </div>
</div>
