@model Uma.Eservices.Models.Dashboard.SupplementalDocumentModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="path-descr">
    <div>@T("Home")</div>
    <div>@T("My Applications")</div>
</div>
@Html.Partial(MVC.Shared.Views._DashboardTabs, 1)

@if (Model.TempBool)
{
    <div class="row">
        <div class="col-sm-8">
            <img src="@Url.Content("~/Static/images/ZeroAPP.png")" class="img-responsive dashboard-fake-images" alt="image">
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-8">
            <img src="@Url.Content("~/Static/images/DashSecondPage.png")" class="img-responsive dashboard-fake-images" alt="image">
        </div>
    </div>

    foreach (var item in Model.Attachments)
    {
        
        <div class="row row-padding">
            <div class="col-sm-4">
                Download pdf for application -> @item.FileName
            </div>
            <div class="col-sm-4">
                @Html.UmaButtonLink("Download",
             @Url.Action(MVC.Dashboard.DownloadFile(@item.ServerFileName, "application/pdf")),
                UmaButtonType.FormSubmit, new { @class = "btn-block" })


                @*@Html.UmaButtonLink(@T("REGISTER").ToString(),
                    @Url.Action(MVC.StrongAuthentication.Authenticate()),
                    UmaButtonType.FormSubmit, new { @class = "btn-block" })*@
            </div>
        </div>
    }

}
