 <!--Pay for and submit your application-->
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-1 circle">3</div>
        <div class="col-sm-7">
            <h2>@T("Pay for and submit your application")</h2>
            <h4>
                @T("You can pay for your application by credit card or online bank account. " +
                    "Please note: You can also skip the online payment and pay at the Embassy.")
            </h4>
        </div>
    </div>
</div>

<!--Banks-->
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-3 col-sm-offset-1 bank-blocks">
            <h3>@T("American Express")</h3>
            <h3>@T("MasterCard")</h3>
            <h3>@T("Visa")</h3>
        </div>

        <div class="col-sm-3 bank-blocks">
            <h3>@T("Danske Bank")</h3>
            <h3>@T("Nordea Bank")</h3>
            <h3>@T("Handelsbanken")</h3>
        </div>
    </div>
</div>
