 <!--Review the progress of your application-->
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-1 circle">5</div>
        <div class="col-sm-7 p-padding">
            <h2>@T("Review the progress of your application")</h2>
            <p>
                <h4>@T("Following the progress of your application")</h4>
                @("The typical application processing time for a Specialist permit can be anything " +
                    "between 4-8 weeks. Within your Migri dashboard you can review the current progress " +
                    "of your application based on the type of authentication you have used to setup your account.")
            </p>
            <p>
                <h4>@("Secure registration (recommended)")</h4>
                @T("If your account is using secure authentication, you will be informed on the actual decision made.")
            </p>
            <p>
                <h4>@("Standard registration (E-mail signup)")</h4>
                @T("Without using secure authentication, you will only be notified when a decision has been made regarding your application.")
            </p>
            <p>
                <h4>@("Asking about your application status")</h4>
                @T("Please do not contact support or eServices to ask about your decision since it will take approximately 4-8 weeks until your " +
                   "decision has been oicially processed within all sections of the finnish Immigration department.")
            </p>
            <p>
                @T("Once a decision has been reached, your will be contacted by the Embassy or the Police. Contacting support to ask about " +
                    "your decision will only delay the final processing of your decision.")
            </p>
        </div>
    </div>
</div>
