@{
    ViewBag.Title = "Welcome";
}
<h1>@T("Finnish Immigration Online")</h1>
<p>
    @T("Maahanmuutto Suomeen Verkossa")<br />
    @T("Smaklig måltid")
</p>

<h2>@T("You can apply here for")</h2>
@Html.Partial(MVC.Common.Views.ViewNames._ApplicationTypes, false)

<h2>@T("You currently can NOT apply for")</h2>
<div class="not-available">
    <div class="row">
        <div class="col-sm-4">
            <div class="not-available-title"><h1>@T("Family Ties")</h1></div>
            <div class="not-available-descr">@T("Family ties permits must be made via a Finnish embassy.")</div>
        </div>
        <div class="col-sm-4">
            <div class="not-available-title"><h1>@T("Asylum")</h1></div>
            <div class="not-available-descr">@T("Asylum requests must be made via a Finnish embassy.")</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="not-available-title"><h1>@T("Visa")</h1></div>
            <div class="not-available-descr">@T("Visa permits must be made via a Finnish embassy.")</div>
        </div>
        <div class="col-sm-4">
            <div class="not-available-title"><h1>@T("Permanent Residence")</h1></div>
            <div class="not-available-descr">@T("Permanent residency applications are made at the Finnish Police.")</div>
        </div>
    </div>
</div>

<h2>@T("Why should I use the eService?")</h2>
<div class="row">
    <div class="col-lg-8">
        <div class="horiz-info-block">
            <h1>@T("It’s cheaper")</h1>
            <h4>@T("Save 35 € compared to paper applica")</h4>
        </div>
        <div class="horiz-info-block">
            <h1>@T("Faster and Secure")</h1>
            <h4>@T("Your application will be processed faster and is save at all time")</h4>
        </div>
        <div class="horiz-info-block">
            <h1>@T("Convenient")</h1>
            <h4>@T("We help you step-by-step to make your application")</h4>
        </div>
        <div class="horiz-info-block">
            <h1>@T("Stay informed")</h1>
            <h4>@T("Keep track of all processing steps and final decision")</h4>
        </div>
    </div>
</div>

<h2>@T("Four steps to apply successfully")</h2>
<div class="zorro">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2 steps-block-left">
            <div class="steps-block-title"><h1>@T("1 · Review")</h1></div>
            <div class="steps-block-descr">@T("Review the dierent types of immigration permits that you can apply using the Finnish Immigration eService.")</div>
        </div>
        <div class="col-sm-offset-2 col-sm-2 steps-block-right">
            <div class="steps-block-title"><h1>@T("2 · Apply")</h1></div>
            <div class="steps-block-descr">@T("Securely apply and pay for residence permit applications related to studies and employment.")</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2 steps-block-left">
            <div class="steps-block-title"><h1>@T("3 · Attach")</h1></div>
            <div class="steps-block-descr">@T("Electronically add supplemental documents of your choice or those requested by the Finnish Immigration eService.")</div>
        </div>
        <div class="col-sm-offset-2 col-sm-2 steps-block-right">
            <div class="steps-block-title"><h1>@T("4 · Follow")</h1></div>
            <div class="steps-block-descr">@T("Track the progress of your application and be informed of a outcome based via your user account.")</div>
        </div>
    </div>
</div>

<h2>@T("Please note the following payment options")</h2>
<div class="payment-info">
    <div class="row">
        <div class="col-sm-4">
            <h1>
                Visa<br />
                Visa Debit<br />
                Visa Electron<br />
                MasterCard<br />
                Debit MasterCard<br />
            </h1>
        </div>
        <div class="col-sm-4 descr">
            @T("You can pay for applications processed by the Finninish Immigration Service eService with these cards or online banking services by these banks")
            <strong>@T("List of bank online services")</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 types">
            @T("Learn more about payment options by selecting an")&nbsp;<strong><a href="@Url.Action(MVC.Info.Actions.WorkPermit())">@T("application type")</a></strong>
        </div>
    </div>
</div>

<h2>@T("Find out more about Finland")</h2>
<div class="row text-center">
    <div class="col-sm-4">
        <div class="div-gray-medium">
            <h3>
                <a href="http://www.infopankki.fi">@T("infopankki.fi")</a>
            </h3>

            <div>
                @T("General information about Finland")
            </div>
        </div>

        <div class="div-gray-medium">
            <h3>
                <a href="http://www.thisisfinland.fi">@T("thisisfinland.fi")</a>
            </h3>
            <div class="gray-block-info-descr">
                @T("Things you should and shouldn’t know about Finland")
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="div-gray-medium">
            <h3>
                <a href="http://www.workfinland.fi">@T("workfinland.fi")</a>
            </h3>
            <div>@T("A project admitting work related immigration to Finland")</div>
        </div>

        <div class="div-gray-medium">
            <h3>
                <a href="http://www.virka.fi">@T("virka.fi")</a>
            </h3>

            <div>@T("The public information service of the City of Helsinki")</div>
        </div>
    </div>
</div>
