@model Uma.Eservices.Models.FormCommons.PersonName

@Html.HiddenFor(o => o.Id)

<div class="row form-row">
    <div class="col-sm-4 pull-bottom">
        <div class="form-group">
            @Html.UmaLabelFor(m => m.LastName)
            @Html.UmaTextBoxFor(m => m.LastName)
        </div>
    </div>
    <div class="col-sm-4 pull-bottom">
        <div class="form-group">
            @Html.UmaLabelFor(m => m.FirstName)
            @Html.UmaTextBoxFor(m => m.FirstName)
        </div>
    </div>
</div>
