@using System.Web.UI.WebControls
@using Uma.Eservices.Web.Components

@model Uma.Eservices.Models.Localization.TranslateFAQPageModel

@using (Html.BeginUmaExpander(Model.Question, "acId", true))
{
    if (this.User.IsInRole(Uma.Eservices.Models.Account.ApplicationRoles.Translator))
    {
        <div class="fa fa-pencil actionblock" onclick="location.href = '@Url.Action(MVC.Localization.FAQTranslations(Model.FaqId))';"></div>
        <div class="fa fa-eraser actionblock" onclick="location.href = '@Url.Action(MVC.Localization.DeleteFaqTranslation(Model.Id))';"></div>
    }

    <div>
        @Html.LabelForModel(Model.Answer)
    </div>

    @Html.HiddenFor(m => m.FaqId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.SelectedLanguage)
}