@model Uma.Eservices.Models.OLE.OLEOPIEducationInformationPage
@{
    ViewBag.Title = "Residence permit for Studies application: Step 2";
}

<div class="path-descr">
    <div><a href="@Url.Action(MVC.Home.Index())">@T("Home")</a></div>
    <div><a href="@Url.Action(MVC.Info.StudyPermit())">@T("Studying in Finland")</a></div>
    <div>@T("Student Application Form")</div>
</div>

@Html.Partial(MVC.Shared.Views._DashboardTabs, 2)
<h1>@T("Student Application Form")</h1>
@Html.Partial(MVC.Shared.Views._FormProgress, Model.FormProgress)

@using (Html.BeginForm(MVC.OLE.ActionNames.OPIStep2Save, MVC.OLE.Name, FormMethod.Post, new { role = "form", ajaxSavingUrl = Url.Action(MVC.OLE.ActionNames.OPIStep2AjaxSave) }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PageId)
    @Html.HiddenFor(m => m.ApplicationId)

    using (Html.BeginUmaAcordionPanel("accordionOleOpi"))
     {
         using (Html.BeginUmaExpander(m => m.EducationInstitution, "Educational institution where you have been accepted", "accordionOleOpi", false))
        {
            @Html.EditorFor(m => m.EducationInstitution, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step2_Block1_Education)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="1">@T("SAVE")</button>
                </div>
            </div>
        }

         using (Html.BeginUmaExpander(m => m.StayingLongerResoning, "How long do you plan to stay in Finland", "accordionOleOpi", true))
         {
             @Html.EditorFor(m => m.StayingLongerResoning, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step2_Block2_Staying)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="2">@T("SAVE")</button>
                </div>
            </div>
         }

         using (Html.BeginUmaExpander(m => m.PreviousStudiesAndWork, "Tell us about your previous educational studies", "accordionOleOpi", true))
         {
            @Html.EditorFor(m => m.PreviousStudiesAndWork, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step2_Block3_PreviousEducation)
            <hr class="form-separator" />
         }
     }

    <div class="row formsubmit">
        <div class="col-sm-8">
            @Html.UmaButton("Step2Submit", "SAVE & CONTINUE", UmaButtonType.FormSubmit)
        </div>
    </div>
}
@section scripts
{
@Scripts.Render("~/bundles/formjs")
}