@model Uma.Eservices.Models.OLE.OLEPaymentPage
@{
    ViewBag.Title = "Residence permit for Studies application: Step 6";
}

<div class="path-descr">
    <div><a href="@Url.Action(MVC.Home.Index())">@T("Home")</a></div>
    <div><a href="@Url.Action(MVC.Info.StudyPermit())">@T("Studying in Finland")</a></div>
    <div>@T("Student Application Form")</div>
</div>

@using (Html.BeginForm(MVC.OLE.ActionNames.OPIStep6Save, MVC.OLE.Name, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(o => o.ApplicationId)

    <h1>@T("Student Application Form")</h1>
    @Html.Partial(MVC.Shared.Views._FormProgress, Model.FormProgress)

    <h2>@T("Select your Service Point")</h2>

    @T("Please remember to go the Finnish embassy!")
    @T("In order to begin processing your application, please visit either the Embassy in order to showcase your application and get your " +
    "fingerprints taken, as well as pay for it. Once you have visited either the police or embassy, your application will move into stage 1 of queing " +
    "for processing.")

    <div class="row row-padding">
        <div class="col-sm-4 col-sm-offset-2">
            <strong>@T("Select an embassy near you")</strong>
            @Html.UmaDropDownFor(o => o.SelectedEmbassy, @Html.GetStateList())
            <div class="row-padding text-custom-left div-margins">
                <div>
                    <strong>@T("Embassy of Finland In Lima")</strong>
                    <div>
                        @T("Address: Edificio Real Tres, Oficina 502, Victor A Belaunde 147 " +
                                             "Lima 27, Peru visa.lim @ formin.fi Phone: +51 1 2224466’’"))
                    </div>
                </div>
                <div>
                    <strong><a href="http://www.finlandia.org.pe/Public/Default.aspx">http://www.finlandia.org.pe/Public/Default.aspx</a></strong>
                </div>
            </div>
        </div>
    </div>

        /* Tablet and above */
        <div class="row  hidden-xs">
            <div class="col-sm-8">
                <h2>@T("Pay and submit your application")</h2>

                <div class="col-sm-2 gray-block div-margins-sn ">
                    <h3 class="height-h3">@T("Online Bank Transfer")</h3>
                    <div class="height-1">@("The following banks are currently supported:")</div>
                    <div class="height-2">
                        <div>@T("Danske Bank")</div>
                        <div>@T("Nordea Bank")</div>
                        <div>@T("Handelsbanken")</div>
                    </div>
                    <div class="height-3"></div>
                </div>
                <div class="col-sm-2 gray-block div-margins-sn">
                    <h3 class="height-h3">@T("Credit Card")</h3>
                    <div class="height-1">@T("The following cards are currently accepted:")</div>
                    <div class="height-2">
                        <div>@T("VISA")</div>
                        <div>@T("MasterCard")</div>
                        <div>@T("American Express")</div>
                    </div>
                    <div class="height-3"></div>
                </div>

                <div class="col-sm-4">
                    <div class="gray-block div-margins-sn">
                        <h3 class="height-h3">@T("Embassy or police")</h3>
                        <div class="height-1">@T("You can skip the payment portion of your application and pay at the Embassy or Police Station.")</div>
                        <div class="height-2">
                            @T("Please check from the Embassy web site at http://formin.finland.fi for more payment information.")
                        </div>
                        <div class="height-3">
                            @T("Please check the Police website at http://www.poliisi.fi for more payment information.")
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <div class="row hidden-xs">
        <div class="col-sm-8">
            <div class="col-sm-4 div-marginless">
                @Html.UmaButton("submitButton", @T("PAY").ToString(), UmaButtonType.FormSubmit, new { @class = "btn-full-width-maringLess" })
            </div>
            <div class="col-sm-4">
                @Html.UmaButtonLink(@T("SKIP PAYMENT").ToString(), @Url.Action(MVC.Dashboard.ActionNames.Index, MVC.Dashboard.Name), UmaButtonType.FormSubmit, new { @class = "btn-full-width-maringLess" })
            </div>
        </div>
    </div>

                            /* Phone Data template */
    <div class="row visible-xs gray-block">
        <h2 class="text-custom-left">@T("Pay and submit your application")</h2>
        <h3>@T("Online Bank Transfer")</h3>
        @("The following banks are currently supported:")
        @T("Danske Bank")
        @T("Nordea Bank")
        @T("Handelsbanken")
        <h3>@T("Credit Card")</h3>
        @T("The following cards are currently accepted:")
        @T("VISA")
        @T("MasterCard")
        @T("American Express")
        @Html.UmaButton("submitButton", @T("PAY").ToString(), UmaButtonType.FormSubmit, new { @class = "btn-full-width-maringLess" })

        <h3>@T("Embassy or police")</h3>
        @T("You can skip the payment portion of your application and pay at the Embassy or Police Station.")
        @T("Please check from the Embassy web site at http://formin.finland.fi for more payment information.")
        @T("Please check the Police website at http://www.poliisi.fi for more payment information.")
        @Html.UmaButtonLink(@T("SKIP PAYMENT").ToString(), @Url.Action(MVC.Dashboard.ActionNames.Index, MVC.Dashboard.Name), UmaButtonType.FormSubmit, new { @class = "btn-full-width-maringLess" })
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/formjs")
}
