@model Uma.Eservices.Models.OLE.OLEOPIValidationPage
@{
    ViewBag.Title = "Residence permit for Studies application: Step 5";
}

<div class="path-descr">
    <div><a href="@Url.Action(MVC.Home.Index())">@T("Home")</a></div>
    <div><a href="@Url.Action(MVC.Info.StudyPermit())">@T("Studying in Finland")</a></div>
    <div>@T("Student Application Form")</div>
</div>

@Html.Partial(MVC.Shared.Views._DashboardTabs, 2)
<h1>@T("Student Application Form")</h1>
@Html.Partial(MVC.Shared.Views._FormProgress, Model.FormProgress)

@using (Html.BeginForm(MVC.OLE.ActionNames.OPIStep5Save, MVC.OLE.Name, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ApplicationId)

    using (Html.BeginUmaAcordionPanel("accordionOleOpi"))
    {
        using (Html.BeginUmaExpander(m => m.PersonDataBlock, "Tell us who you are and where are you from", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.PersonDataBlock, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step1_Block1_Person)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="1">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.ContactInformationBlock, "Contact information for processing and deciding on the application", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.ContactInformationBlock, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step1_Block2_Contacts)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="2">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.PassportInformationBlock, "Please tell us your passport information", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.PassportInformationBlock, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step1_Block3_Passport)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="3">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.ResidenceDurationBlock, "Tell us about the duration of your residence in Finland", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.ResidenceDurationBlock, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step1_Block4_Duration)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="4">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.FamilyBlock, "Tell us about your marital status and family", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.FamilyBlock, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step1_Block5_Family)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="5">@T("SAVE")</button>
                </div>
            </div>
        }
        using (Html.BeginUmaExpander(m => m.EducationInstitution, "Educational institution where you have been accepted", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.EducationInstitution, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step2_Block1_Education)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="6">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.StayingLongerResoning, "How long do you plan to stay in Finland", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.StayingLongerResoning, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step2_Block2_Staying)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="7">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.PreviousStudiesAndWork, "Tell us about your previous educational studies", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.PreviousStudiesAndWork, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step2_Block3_PreviousEducation)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="8">@T("SAVE")</button>
                </div>
            </div>
        }
        using (Html.BeginUmaExpander(m => m.FinancialStudySupport, "How will you support yourself in Finland?", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.FinancialStudySupport, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step3_Block1_FinancialSupport)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="9">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.HealthInsurance, "What type of health insurance will you have in Finland?", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.HealthInsurance, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step3_Block2_HealthInsurance)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="10">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.AdditionalInformation, "Additional information for the application", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.AdditionalInformation, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step3_Block3_AdditionalInfo)
            <div class="row blocksave">
                <div class="col-sm-8">
                    <button id="block1save" class="btn btn-primary btn-sm formblocksubmit" type="button" data-targetpanel="11">@T("SAVE")</button>
                </div>
            </div>
        }

        using (Html.BeginUmaExpander(m => m.CriminalInformation, "Applicant’s criminal history and refusal of entry", "accordionOleOpi", true))
        {
            @Html.EditorFor(m => m.CriminalInformation, MVC.OLE.Views.EditorTemplates._OLE_OPI_Step3_Block4_CriminalInfo)
            <hr class="form-separator" />
        }
    }

    <div class="row formsubmit">
        <div class="col-sm-8">
            @Html.UmaButton("Step1Submit", "SAVE & CONTINUE", UmaButtonType.FormSubmit)
        </div>
    </div>
}
@section scripts
{
@Scripts.Render("~/bundles/formjs")
}
