@using System.Drawing
@using System.Net.Mime
@using MyVideo.Controllers
@using MyVideo.Models
@using MyVideo;
@model MyVideo.Models.FolderModel
@{
    ViewBag.Title = "Home Page";
    var Source = Server.MapPath(@"~\Videos\");
}

@if (!string.IsNullOrEmpty(Model.VLCStreamUrl))
{
    @Html.Raw("Copy this text to vlc"); <input type="text" value="@Model.VLCStreamUrl" id="vlcText"/>
}

@if (!string.IsNullOrWhiteSpace(Model.Url))
{
    <script type="text/javascript" src="~/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key = "XqHvJ+ZjkpUdxSPZa/GAU0+JcSRmG1a8Zr0menqkcyJdaSU3Bl3EMQ==";</script>

<div id="myElement">Loading the player...</div>

<script type="text/javascript">
    jwplayer("myElement").setup({
        file: '@Model.Url'
    });
</script>
    return;
}



@if (!string.IsNullOrWhiteSpace(Model.JWPlayerSource))
{
    <video preload="none" controls="" src="@Url.Content("~/Videos/" + Model.JWPlayerSource)">
        <p class="warning">Your browser does not support HTML5 video.</p>
    </video>

    <a href="@Url.Content("~/Videos/" + Model.JWPlayerSource)">Скачать</a>
    return;
}

<script>
    function submitForm(link) {
        $('#source').val($(link).attr('data'));

        $('#getStream').submit();
        return false;
    }
</script>

@using (Html.BeginForm("GetStream", "Home", FormMethod.Post, new {id = "getStream"}))
{

    <br />
    <a href="@Url.Action("GetStream")" onclick=" return submitForm(this); " data="@Model.ParentFolder">Nazad</a>
    <br />
    <div>
        Не совсем работает: 
        Minuti:
        @Html.TextBox("offset", "0", new {style = "width:50px;"})
        Bitrejt:
        @Html.TextBox("bitrate", "200", new {style = "width:50px;"})
        Tip:
        @Html.TextBox("fileFormat", "mp4", new {style = "width:50px;"})
        Nomer zvukovoj dorozki:
        @Html.TextBox("soundNumber", "1", new {style = "width:50px;"})
        Встроеный плеер:
        @Html.CheckBox("isEmbed")
        VLC: 
        @Html.CheckBox("isVlc")

    </div>
    <br />
    foreach (var file in Model.Folder)
    {
        <div>
            @if (!file.Key.Contains("~") && File.Exists(file.Key))
            {
                var fi = new FileInfo(file.Key);
                var flv = fi.Name.Replace(fi.Extension, ".flv");
                if (File.Exists(Source + flv))
                {
                    <a href="@Url.Content("Videos/" + flv)">FLV</a>
                    @(string.Format("{0:0.00}", ((double) (new FileInfo(Source + flv).Length)/(1024*1024))))
                    @Html.Raw("MB")
                }

                var mp4 = fi.Name.Replace(fi.Extension, ".mp4");
                if (File.Exists(Source + mp4))
                {
                    @file.Value
                    if (HomeController.processes != null && HomeController.processes.ContainsKey(file.Key) && !HomeController.processes[file.Key].HasExited)
                    {
                        @Html.Raw(" " + HomeController.GetProcessPercentage(HomeController.processes[file.Key]))
                        @Html.Raw("% ")
                    }
                    else
                    {
                        @Html.ActionLink("mp4", "Index", new RouteValueDictionary {{"source", mp4}})
                    }
                    @(string.Format("{0:0.00}", ((double) (new FileInfo(Source + mp4).Length)/(1024*1024))))
                    @Html.Raw("MB")
                }
                else
                {
                    <a href="@Url.Action("GetStream", "Home")" onclick=" return submitForm(this); " data="@file.Key">@file.Value</a>
                }

                @Html.Hidden("isMobile", @Request.Browser.IsMobileDevice)
            }
            else
            {
                <a href="@Url.Action("GetStream", "Home")" onclick=" return submitForm(this); " data="@file.Key">@file.Value</a>
            }
        </div>

    }
    @Html.Hidden("source", " ")
}

@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" value="" multiple="multiple" />
    <input type="submit" value="Upload" title="Uplad" />
    <div style="color:Red;font-size:14px">@ViewBag.Message</div>
    @Html.HiddenFor(m=>m.source)
}

