@using MyVideo.Models
@using MyVideo;
@model MyVideo.Models.FolderModel
@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrWhiteSpace(Model.JWPlayerSource))
{
    <script type="text/javascript" src="~/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "XqHvJ+ZjkpUdxSPZa/GAU0+JcSRmG1a8Zr0menqkcyJdaSU3Bl3EMQ==";</script>

    <div id="myElement">Loading the player...</div>

<script type="text/javascript">
    jwplayer("myElement").setup({
        file: "@Url.Content("~/" + Model.JWPlayerSource, true)",
        provider: "http"
    });
</script>
    
    return;
}

<script>
    function submitForm(link) {
        $('#source').val($(link).attr('data'));

        $('#getStream').submit();
        return false;
    }
</script>

@using (Html.BeginForm("GetStream", "Home", FormMethod.Post, new { id = "getStream" }))
{

<br/>
<a href="@Url.Action("GetStream")" onclick="return submitForm(this);" data="@Model.ParentFolder">Nazad</a>
    <br />
    <div>
        Minuti:
        @Html.TextBox("offset", "0", new { style = "width:50px;" })
        Bitrejt:
        @Html.TextBox("bitrate", "200", new { style = "width:50px;" })
        Tip:
        @Html.TextBox("fileFormat", "flv", new { style = "width:50px;" })
        Встроеный плеер:
        @Html.CheckBox("isEmbed")
            </div>
<br />
    foreach (var file in Model.Folder)
    {
    <div><a href="@Url.Action("GetStream", "Home")" onclick="return submitForm(this);" data="@file.Key">@file.Value</a>
    @if (!file.Key.Contains("~") && File.Exists(file.Key))
    {
        var fi = new FileInfo(file.Key);
        var flv = fi.Name.Replace(fi.Extension, ".flv");
        if (File.Exists(Server.MapPath("~") + flv))
        {
            <a href="@Url.Content(flv)">FLV</a>
            @(string.Format("{0:0.00}", ((double)(new FileInfo(Server.MapPath("~") + flv).Length) / (1024 * 1024))))
            @Html.Raw("MB")
        }
        @Html.Hidden("isMobile", @Request.Browser.IsMobileDevice)
    }
    </div>
    
    }
    @Html.Hidden("source", " ")
}