@model bool

@if (Model == true)
{
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("New Application")</div>
    </div>
    @Html.Partial(MVC.Shared.Views._DashboardTabs, 2)
}

<div class="row">
    <div class="col-sm-4 actionblock" onclick="location.href='@Url.Action(Model ? MVC.Dashboard.ResidencePermit() : MVC.Info.ResidencePermit())';">
        <div class="actionblock-title"><h1>@T("Residence Permit")</h1></div>
        <div class="actionblock-descr">@T("Apply for your first residence permit")</div>
    </div>
    <div class="col-sm-4 actionblock" onclick="location.href='@Url.Action(Model ? MVC.Dashboard.ResidencePermit() : MVC.Info.ResidencePermit())';">
        <div class="actionblock-title"><h1>@T("Citizenship")</h1></div>
        <div class="actionblock-descr">@T("Apply for your Finnish citizenship")</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 actionblock" onclick="location.href='@Url.Action(Model ? MVC.Dashboard.ResidencePermit() : MVC.Info.ResidencePermit())';">
        <div class="actionblock-title"><h1>@T("EU Residence")</h1></div>
        <div class="actionblock-descr">@T("Register as a EU citizen living in Finnland")</div>
    </div>
    <div class="col-sm-4 actionblock" onclick="location.href='@Url.Action(Model ? MVC.Dashboard.ResidencePermit() : MVC.Info.ResidencePermit())';">
        <div class="actionblock-title"><h1>@T("Extension")</h1></div>
        <div class="actionblock-descr">@T("File for a study or work related permit extension")</div>
    </div>
</div>
