<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-1 circle">1</div>
        <div class="col-sm-7">
            <h2>@T("Prepare the documents")</h2>

            <h4>
                @T("Make sure you have all the following" +
                   " documents prepared to include as single separate files:")
            </h4>
            <div class="text-center">
                <h1>@T("Valid travel document")</h1>
                <h1>@T("Work acceptance letter")</h1>
                <h1>@T("Proof of income")</h1>
                <h1>@T("Proof of insurance")</h1>
            </div>
        </div>
    </div>
</div>
