    <!--Visit the embassy or police station-->
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-1 circle">4</div>
        <div class="col-sm-7">
            <h2>@T("Visit the embassy or police station")</h2>
            <h4>@T("Verify your application and identity by visiting your local embassy or police station")</h4>

            <div class="column-float">
                <p>
                    @T("You will need to go to the nearest Finnish Embassy " +
                    "near you and showcase your personal id and also" +
                    "pay for your application. Please make sure you" +
                    "bring along all of your application as well as" +
                    "original / hard copies of your documents.")
                </p>
                <p>
                    @T("You can visit the Ministry of Foriegn Aairs website " +
                    "for a complete list of Finnish Embassies near you." +
                    "Please note that you also need to be in the country" +
                    "you are applying from legally.")
                </p>
                <p>
                    @T("If you are already in Finland, then you have to " +
                    "apply at the nearest Police Station near you. You" +
                    "can find the nearest police station near you by" +
                    "visiting the Finnish Police website.")
                </p>
            </div>
        </div>
    </div>
</div>

<!--External links-->
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-3 col-sm-offset-1">
            <div class="div-gray-medium">
                <h3><a href='formin.finland.fi'>@T("formin.finland.fi")</a></h3>
                @T("Ministry of Foreign Aairs in Finland")
            </div>
        </div>
        <div class="col-sm-3">
            <div class="div-gray-medium">
                <h3><a href='poliisi.fi'>@T("poliisi.fi")</a></h3>
                @T("Website of the Finnish Police")
            </div>
        </div>
    </div>
</div>