@using System.Web.UI.WebControls
@model Uma.Eservices.Models.Sandbox.GroupSpouseFormerNames

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.UmaLabelFor(m => m.LastName)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.FirstNames)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.FirstNames)
                @Html.ValidationMessageFor(m => m.FirstNames)
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.IsHot)
            <div class="col-sm-9">
                @Html.UmaCheckBoxButtonFor(m => m.IsHot, "Is hot?", true)
                @Html.ValidationMessageFor(m => m.IsHot)
            </div>
        </div>
    </div>
</div>