@using System.Web.UI.WebControls
@model Uma.Eservices.Models.Sandbox.SpouseModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.UmaLabelFor(m => m.Header)
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.LastName)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.FirstNames)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.FirstNames)
                @Html.ValidationMessageFor(m => m.FirstNames)
            </div>
        </div>

        <div class="form-group">
            @T("SpouseFormerNames")
            <div class="col-sm-12">
                @for (int i = 0; i < Model.FormerNames.Count(); i++)
                {
                    @Html.EditorFor(m => Model.FormerNames[i], MVC.Sandbox.Views.EditorTemplates.SpouseFormerNames)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.IdNumber)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.IdNumber)
                @Html.ValidationMessageFor(m => m.IdNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.BirthPlace)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.BirthPlace)
                @Html.ValidationMessageFor(m => m.BirthPlace)
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.SpouseStateOfBirth)
            <div class="col-sm-9">
                @Html.UmaTextBoxFor(m => m.SpouseStateOfBirth)
                @Html.ValidationMessageFor(m => m.SpouseStateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.UmaLabelFor(m => m.DateOfBirth)
            <div class="col-sm-9">
                @Html.UmaDatePickerFor(m => m.DateOfBirth)
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @T("SpouseFormerCitiz")
            <div class="col-sm-12">
                @for (int i = 0; i < Model.FormerCitiz.Count(); i++)
                {
                    @Html.EditorFor(m => Model.FormerCitiz[i], MVC.Sandbox.Views.EditorTemplates.SpouseFormerCitiz)
                }
            </div>
        </div>
    </div>
</div>