@{
    ViewBag.Title = "Forgot password confirmation";
}
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Forgot password")</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h1>@T("Password Change link is sent")</h1>
        <p>@T("Please check your email and click on link to reset your password.")</p>
        @if (ViewBag.Link != null)
        {
            <p>For TEST purposes you can click <a href="@ViewBag.Link">this link.</a></p>
        }
    </div>
</div>
