@{
    ViewBag.Title = "Password reset confirmation";
}
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Reset password")</div>
    </div>
</div>

<h1>@T(ViewBag.Title)</h1>

<h4>@T("Your password has been successfully changed. Click button below to login with your e-mail and new password.")</h4>
@Html.UmaButtonLink("Login", Url.RouteUrl("Default", result: MVC.Account.Login()))