@{
    ViewBag.Title = "User profile";
}
@model Uma.Eservices.Models.Account.UserProfileModel
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Account")</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h1>@T("Welcome"), @Model.FirstName!</h1>
        <h4>@T("Please fill in your account details.")</h4>
    </div>
</div>
<br />

@using (Html.BeginForm(MVC.Account.ActionNames.StrongUserCreate, MVC.Account.Name, FormMethod.Post, new { id = "userProfileForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FirstName)
    @Html.HiddenFor(m => m.LastName)
    @Html.HiddenFor(m => m.BirthDate)
    @Html.HiddenFor(m => m.PersonCode)
    <div id="displayName" class="row">
        <div class="col-sm-7 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @T("First name, Last name")<br />
            <h4>@Model.FullName</h4>
        </div>
    </div>
    <br />

    <div id="displayBirthday" class="row">
        <div class="col-sm-7 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @T("Date of birth")<br />
            <h4>@Model.BirthdayDisplay</h4>
        </div>
    </div>
    <br />

    <div id="editorEmail" class="row">
        <div class="col-sm-5 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @T("E-Mail")<br />
            @Html.UmaTextBoxFor(m => m.Email, false, new { @autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <br />

    <div id="editorMobile" class="row">
        <div class="col-sm-5 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @T("Mobile phone number")<br />
            @Html.UmaTextBoxFor(m => m.Mobile)
            @T("If you would like to receive sms notifications of all progress made to your application and updates from online service, please enter your mobile phone number.")
        </div>
    </div>
    <br />

    <div class="row formsubmit">
        <div class="col-sm-7 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @Html.UmaButton("ProfileSubmit", "SAVE & CONTINUE", UmaButtonType.FormSubmit)
        </div>
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/formjs")
    <script>
        window.onbeforeunload = function () {
            return "Information in this page is necessary and should be filled!";
        }

        $('form').submit(function () {
            window.onbeforeunload = null;
        });
    </script>
}
