@{
    ViewBag.Title = "User profile";
}
@model Uma.Eservices.Models.Account.UserProfileModel
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Account")</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h1>@T("Welcome"), @Model.FirstName!</h1>
    </div>
</div>
<br/>

@using (Html.BeginForm(MVC.Account.ActionNames.UserProfileFullSave, MVC.Account.Name, FormMethod.Post, new { id = "userProfileForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="displayName" class="row">
        <div class="col-sm-1 col-xs-2 editLink">
            <a id="editName" href="#">@T("EDIT")</a>
        </div>
        <div class="col-sm-7 col-xs-6">
            @T("First name, Last name")<br />
            <h4>@Model.FullName</h4>
        </div>
    </div>
    <div id="editorName" class="row" style="display: none;">
        <div class="col-sm-1 col-xs-2 editLink">
            <a class="saveForm" href="#">@T("SAVE")</a><br />
            <a id="cancelName" href="#">@T("Cancel")</a>
        </div>
        <div class="col-sm-6 col-xs-6">
            @T("First name, Last name")<br />
            <div class="col-xs-4">
                @Html.UmaTextBoxFor(m => m.FirstName)
            </div>
            <div class="col-xs-4">
                @Html.UmaTextBoxFor(m => m.LastName)
            </div>
        </div>
    </div>
    <br/>

    <div id="displayBirthday" class="row">
        <div class="col-sm-1 col-xs-2 editLink">
            <a id="editBirthday" href="#">@T("EDIT")</a>
        </div>
        <div class="col-sm-7 col-xs-6">
            @T("Date of birth")<br />
            <h4>@Model.BirthdayDisplay</h4>
        </div>
    </div>
    <div id="editorBirthday" class="row" style="display: none;">
        <div class="col-sm-1 col-xs-2 editLink">
            <a class="saveForm" href="#">@T("SAVE")</a><br/>
            <a id="cancelBirthday" href="#">@T("Cancel")</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            @T("Date of birth")<br />
            @Html.UmaDatePickerFor(m => m.BirthDate)
        </div>
    </div>
    <br/>

    <div id="displayEmail" class="row">
        <div class="col-sm-1 col-xs-2 editLink">
            <a id="editEmail" href="#">@T("EDIT")</a>
        </div>
        <div class="col-sm-7 col-xs-6">
            @T("E-Mail")<br />
            <h4>@Model.Email</h4>
        </div>
    </div>
    <div id="editorEmail" class="row" style="display: none;">
        <div class="col-sm-1 col-xs-2 editLink">
            <a class="saveForm" href="#">@T("SAVE")</a><br />
            <a id="cancelEmail" href="#">@T("Cancel")</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            @T("E-Mail")<br />
            @Html.UmaTextBoxFor(m => m.Email)
        </div>
    </div>
    <br/>

    <div id="displayMobile" class="row">
        <div class="col-sm-1 col-xs-2 editLink">
            <a id="editMobile" href="#">@T("EDIT")</a>
        </div>
        <div class="col-sm-7 col-xs-6">
            @T("Mobile phone number")<br />
            <h4>@Model.Mobile</h4>
        </div>
    </div>
    <div id="editorMobile" class="row" style="display: none;">
        <div class="col-sm-1 col-xs-2 editLink">
            <a class="saveForm" href="#">@T("SAVE")</a><br />
            <a id="cancelMobile" href="#">@T("Cancel")</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            @T("Mobile phone number")<br />
            @Html.UmaTextBoxFor(m => m.Mobile)
        </div>
    </div>
    <br/>
}

<div class="row">
    <div class="col-sm-1 col-xs-2 editLink">
        <a href="@Url.Action(MVC.Account.ActionNames.ChangePassword, MVC.Account.Name)">@T("CHANGE")</a>
    </div>
    <div class="col-sm-7 col-xs-6">
        @T("Password")
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h2>@T("You can upgrade your account information")</h2>
        <div class="div-gray-type-main">
            <h1>@T("Bank ID")</h1>
            <h1>@T("Personal ID card")</h1>
            <h1>@T("Mobile certificate")</h1>
            <div class="row row-padding-top">
                <div class="col-sm-6 col-sm-offset-1">
                    <h4>@T("Stronger account authentication provides you with even higher security.")</h4>
                </div>
            </div>
            <div class="row form-row" style="padding-top: 30px;">
                <div class="col-sm-4 col-sm-offset-2">
                    @Html.UmaButtonLink(@T("UPGRADE NOW").ToString(), @Url.Action(MVC.StrongAuthentication.Authenticate()), UmaButtonType.FormSubmit, new { @class = "btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/formjs")
    @Scripts.Render("~/bundles/account")
}