@using System.Web.UI.WebControls
@using Uma.Eservices.Web.Components
@using System.Linq

@model Uma.Eservices.Models.Localization.TranslateFAQPageModel
@{
    ViewBag.Title = "Localization Resource edit page";
}

<div class="row">
    <div class="col-sm-8">
        <h2>FAQ translations</h2>
    </div>
</div>

@using (Html.BeginForm(MVC.Localization.UpdateFAQ(), FormMethod.Post, new { @class = "form-horizontal resource-form" }))
{
    @Html.HiddenFor(o => o.FaqId)
    @Html.HiddenFor(o => o.Id)
    @Html.HiddenFor(o => o.LanguageToSave)
    @Html.HiddenFor(o => o.ReturnLink)
    @Html.HiddenFor(o => o.IsReturnBack)

    <div class="row form-row">
        <div class="col-sm-8">
            <label for="SelectedLanguage">Selected language to edit</label>
            @Html.UmaRadioButtonFor(m => m.SelectedLanguage, omitZeroValue: false)
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <label for="SelectedLanguage">Question</label><br />
            @Html.TextBoxFor( o => o.Question)
        </div>
    </div>


    <div class="row form-row">
        <div class="col-sm-8">
            <label for="SelectedLanguage">Answer</label>
            @Html.TextAreaFor(o => o.Answer, new { @class = "form-control", @autofocus = "autofocus" })
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            @Html.UmaButton("form_submit", "Save & Close", UmaButtonType.FormSubmit, null, new { @class = "btn-sm" })
            <div class="button-link-separator left">
                <div class="mask"></div>
            </div>
            <a id="returnUrl" href="@Url.Action(MVC.Localization.RedirectBack(absoluteReturnLink: (string)this.Session["callerURL"]))">Cancel</a>
        </div>
    </div>

}

@section scripts
{
<script src="~/Scripts/ckedit/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('@Html.IdFor(m => m.Answer)');
        $(function () {
            $('input:radio').change(
                function (btn) {
                    var form = $('.resource-form');
                    $('#IsReturnBack').val(false);
                    // Disabling elements until form submitted and page relaoded
                    $('#form_submit').prop('disabled', true);
                    form.submit();
                });
        });
    </script>
}