@using Uma.Eservices.Models.Localization

@model WebElementModel
@{
    ViewBag.Title = "Form Resource Translations";
}
<div class="row">
    <div class="col-sm-8">
        <h2>Form element translations</h2>
    </div>
</div>

@using (Html.BeginForm(MVC.Localization.Resources(), FormMethod.Post, new { @class = "form-horizontal resource-form" }))
{
    @Html.HiddenFor(o => o.WebElementId)
    @Html.HiddenFor(o => o.ModelName)
    @Html.HiddenFor(o => o.PropertyName)
    @Html.HiddenFor(o => o.LanguageToSave)
    @Html.HiddenFor(o => o.ReturnLink)
    @Html.HiddenFor(o => o.IsReturnBack)


    <div class="row form-row">
        <div class="col-sm-8">
            <label for="SelectedLanguage">Selected language to edit</label>
            @Html.UmaRadioButtonFor(m => m.SelectedLanguage, omitZeroValue: false)
        </div>
    </div>


    <div class="row form-row">
        <div class="col-sm-8">
            <label for="PropertyName">Original (technical) field codes</label><br />
            @Model.ModelName / @Model.PropertyName
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.PropertyLabel, new { @class = "form-control fieldLocalizeLabel", @autofocus = "autofocus", @autocomplete = "off" })
            @Html.TextBoxFor(m => m.PropertySubLabel, new { @class = "form-control fieldLocalizeSubLabel", @autocomplete = "off" })
            @Html.TextBoxFor(m => m.PropertyHint, new { @class = "form-control fieldLocalizePlaceholder", @autocomplete = "off" })
            @Html.TextBoxFor(m => m.PropertyEnum, new { @class = "form-control fieldLocalizEnumText", @autocomplete = "off" })
            <div class="fieldLocalizeHelp pull-right">
                @Html.TextAreaFor(m => m.PropertyHelp)
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            @Html.UmaButton("form_submit", "Save & Close", UmaButtonType.FormSubmit, null, new { @class = "btn-sm" })
            <div class="button-link-separator left">
                <div class="mask"></div>
            </div>
            <a id="returnUrl" href="@Url.Action(MVC.Localization.RedirectBack(absoluteReturnLink: (string)this.Session["callerURL"]))">Cancel</a>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/ckedit/ckeditor.js"></script>
    <script>
    CKEDITOR.replace('@Html.IdFor(m => m.PropertyHelp)');
    $(function () {
        $('input:radio').change(
            function (btn) {
                var form = $('.resource-form');
                $('#IsReturnBack').val(false);
                // Disabling elements until form submitted and page relaoded
                $('#form_submit').prop('disabled', true);
                form.submit();
                });
        });
    </script>
} 