@using System.Globalization
@using System.Threading
@{
  ViewBag.Title = "Sanbox/localization";
}
<div class="row">
<div class="col-md-8">
    <h1>
        @T("Localization tests")
        @Html.UmaButtonLink("Back", Url.RouteUrl("Default", result: MVC.Sandbox.Index()), new FontAwesomeIcon("fa-arrow-circle-o-left"), new { @class = "pull-right" })
    </h1>
    <p>
        @T("Culture selection"):
        @Html.UmaButtonLink("English", Url.RouteUrl("LocaleRoute", new { lang = "en-US", controller = MVC.Sandbox.Name, action = MVC.Sandbox.ActionNames.LocalizationTests }))
        @Html.UmaButtonLink("Finnish", Url.RouteUrl("LocaleRoute", new { lang = "fi-FI", controller = MVC.Sandbox.Name, action = MVC.Sandbox.ActionNames.LocalizationTests }))
    </p>
    <p>@T("This paragraph should be translated into language you have set (and available as resource)")</p>
    <p>@T("This paragraph has no translation (do not include it in resources!)")</p>
    <p>@T("This paragraph has only main resource translation (only in Sandbox.resx)")</p>
    <p>@T("Paragraph with <em>embedded</em> HTML <strong>markup</strong>")</p>
    <p>@T("This paragraph shows example how to use {2} placeholders with dates({0:D}) and numbers ({1:0.0}).", DateTime.Now, 425777.29, T("string.Format"))</p>
    <br />
    <table class="table table-condensed">
        <tr>
            <td class="prompt">@T("UI Culture")</td>
            <td>@Thread.CurrentThread.CurrentUICulture.DisplayName (@Thread.CurrentThread.CurrentUICulture.Name)</td>
        </tr>
        <tr>
            <td class="prompt">@T("Format Culture")</td>
            <td>@Thread.CurrentThread.CurrentCulture.DisplayName (@Thread.CurrentThread.CurrentCulture.Name)</td>
        </tr>
        <tr>
            <td class="prompt">@T("Short date")</td>
            <td>@DateTime.Now.ToShortDateString() / @DateTime.Now.ToString("d")</td>
        </tr>
        <tr>
            <td class="prompt">@T("Long date")</td>
            <td>@DateTime.Now.ToLongDateString() / @DateTime.Now.ToString("D")</td>
        </tr>
        <tr>
            <td class="prompt">@T("Full date")</td>
            <td>@DateTime.Now.ToString("F") / @DateTime.Now.ToString("f")</td>
        </tr>
        <tr>
            <td class="prompt">@T("Short time")</td>
            <td>@DateTime.Now.ToShortTimeString()</td>
        </tr>
        <tr>
            <td class="prompt">@T("Long time")</td>
            <td>@DateTime.Now.ToLongTimeString()</td>
        </tr>
        <tr>
            <td class="prompt">@T("Formatted date")</td>
            <td>@DateTime.Now.ToString("yyyy' year, month: 'MMMM (MMM | MM | M) d (dd) = ddd, dddd [HH:mm | h:mm tt]' offset:' zzz")</td>
        </tr>
        <tr>
            <td class="prompt">@T("Day names")</td>
            <td>
                @string.Join(", ", Thread.CurrentThread.CurrentCulture.DateTimeFormat.DayNames)
                <br />
                (@string.Join(", ", Thread.CurrentThread.CurrentCulture.DateTimeFormat.AbbreviatedDayNames))
                <br />
                (@string.Join(", ", Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortestDayNames))
            </td>
        </tr>
        <tr>
            <td class="prompt">@T("Month names")</td>
            <td>
                @string.Join(", ", Thread.CurrentThread.CurrentCulture.DateTimeFormat.MonthNames)
                <br />
                (@string.Join(", ", Thread.CurrentThread.CurrentCulture.DateTimeFormat.AbbreviatedMonthNames))
            </td>
        </tr>
        <tr>
            <td class="prompt">@T("Decimal number")</td>
            <td>@((3200100.456789m).ToString("N"))</td>
        </tr>
        <tr>
            <td class="prompt">@T("Percent number")</td>
            <td>@((0.342m).ToString("P"))</td>
        </tr>
        <tr>
            <td class="prompt">@T("Currency")</td>
            <td>@((4500600.12345D).ToString("C5", CultureInfo.CurrentCulture))</td>
        </tr>
    </table>
  </div>
</div>