@model DPA.Models.DepartmentViewModel
@{
    ViewBag.Title = "Department";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Department", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Struktūrvienības</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ParentDepartmentId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ParentDepartmentId, Model.Departments, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new {@class="form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

@*<script language="javascript" type="text/javascript">
    var urlPath = window.location.pathname;
    var CreateArticleVM = {
        Name: ko.observable(),
        Address: ko.observable(),
        btnCreateArticle: function () {

            $.ajax({
                url: '',
                type: 'post',
                dataType: 'json',
                data: ko.toJSON(this),
                contentType: 'application/json',
                success: function (result) {
                    
                },
                error: function (err) {
                    if (err.responseText == "success")
                    { window.location.href = urlPath + '/'; }
                    else {
                        alert(err.responseText);
                    }
                },
                complete: function () {
                }
            });

        }
    };
    ko.applyBindings(CreateArticleVM);
</script>*@
}
