@model Uma.Eservices.Models.OLE.OLEResidenceDurationBlock

@Html.HiddenFor(o => o.ApplicationId)

    <h4>@T("Please fill this in if you are applying for your first residence permit")</h4>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.AlreadyInFinland)
            </div>
            @Html.UmaRadioButtonFor(m => m.AlreadyInFinland, @T("Yes").ToString(), true)
            @Html.UmaRadioButtonFor(m => m.AlreadyInFinland, @T("No").ToString(), false)
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.ArrivalDate)
                @Html.UmaDatePickerFor(m => m.ArrivalDate)
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.DurationOfStay)
                @Html.TextAreaFor(m => m.DurationOfStay, new { @class = "form-control" })
            </div>
        </div>
    </div>
