@model Uma.Eservices.Models.OLE.OLEOPIHealthInsuranceBlock

    @T(@"Having health insurance is very important during your time in Finland as a foreign student depending on the period of time you will be
studying. If you are planning to stay over two years, you can have health insurance by registering for municipal health insurance. If you are
studying for less then a one year, you should have your own health insurance since you will not be covered by municipal helath insurance.")

    <div class="row form-row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.InsuredForAtLeastTwoYears)
            </div>
        </div>
        @Html.UmaCheckBoxButtonFor(m => m.InsuredForAtLeastTwoYears, @T("Yes, and my health insurance covers pharmaceutical costs up to 30.000 €").ToString())
    </div>

    <div class="row form-row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.InsuredForLessThanTwoYears)
            </div>
        </div>
        @Html.UmaCheckBoxButtonFor(m => m.InsuredForLessThanTwoYears, @T("Yes, and my health insurance covers pharmaceutical costs up to 100.000 €").ToString())
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.HaveKelaCard)
            </div>
            @Html.UmaRadioButtonFor(m => m.HaveKelaCard, @T("Yes").ToString(), true)
            @Html.UmaRadioButtonFor(m => m.HaveKelaCard, @T("No").ToString(), false)
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.HaveEuropeanHealtInsurance)
            </div>
            @Html.UmaRadioButtonFor(m => m.HaveEuropeanHealtInsurance, @T("Yes").ToString(), true)
            @Html.UmaRadioButtonFor(m => m.HaveEuropeanHealtInsurance, @T("No").ToString(), false)
        </div>
    </div>
