@model Uma.Eservices.Models.OLE.OLEContactInfoBlock


<table class="width_full">
    <tr>
        <td>

            @Html.UmaPdfLabelFor(m => m.AddressInformation.StreetAddress)
        </td>
        <td>
            @Model.AddressInformation.StreetAddress
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.AddressInformation.PostalCode)
        </td>
        <td>
            @Model.AddressInformation.PostalCode

        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.AddressInformation.City)
        </td>
        <td>
            @Model.AddressInformation.City
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.AddressInformation.Country)
        </td>
        <td>
            @Html.GetState(@Model.AddressInformation.Country)
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.TelephoneNumber)
        </td>
        <td>
            @Model.TelephoneNumber
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.EmailAddress)
        </td>
        <td>
            @Model.EmailAddress
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.FinlandAddressInformation.StreetAddress)
        </td>
        <td>
            @Model.FinlandAddressInformation.StreetAddress
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.FinlandAddressInformation.PostalCode)
        </td>
        <td>
            @Model.FinlandAddressInformation.PostalCode
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.FinlandAddressInformation.City)
        </td>
        <td>
            @Model.FinlandAddressInformation.City
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.FinlandEmailAddress)
        </td>
        <td>
            @Model.FinlandEmailAddress
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.FinlandTelephoneNumber)
        </td>
        <td>
            @Model.FinlandTelephoneNumber
        </td>
    </tr>
</table>

