@model Uma.Eservices.Models.OLE.OLEPersonalDataBlock

<table class="width_full">   
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.PersonName.LastName)</td>
        <td>@Model.PersonName.LastName</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.PersonName.FirstName)</td>
        <td>@Model.PersonName.FirstName</td>
    </tr>

    @for (int i = 0; i < @Model.PreviousNames.Count(); i++)
    {
        @Html.Partial("PdfPartialViews/PDF_OLE_PersonPersonPreviousNames", Model.PreviousNames[i])
    }

    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.Gender)</td>
        <td>@Html.UmaPdfEnumFor(m => m.Gender)</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.Birthday)</td>
        <td>@Model.Birthday.ToString())</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.PersonCode)</td>
        <td>@Model.PersonCode</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.BirthCountry)</td>
        <td>@Html.GetState(@Model.BirthCountry)</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.BirthPlace)</td>
        <td>@Model.BirthPlace</td>
    </tr>

    @for (int i = 0; i < @Model.CurrentCitizenships.Count(); i++)
    {
        @Html.Partial("PdfPartialViews/PDF_OLE_CurrentCitizenship", Model.CurrentCitizenships[i])
    }


    @for (int i = 0; i < @Model.PreviousCitizenships.Count(); i++)
    {
        @Html.Partial("PdfPartialViews/PreviousCitizenship", Model.PreviousCitizenships[i])
    }


    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.MotherLanguage)</td>
        <td>@Html.GetLanguage(@Model.MotherLanguage)</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.CommunicationLanguage)</td>
        <td>@Html.UmaPdfEnumFor(m => m.CommunicationLanguage)</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.Occupation)</td>
        <td>@Model.Occupation</td>
    </tr>
    <tr>
        <td>@Html.UmaPdfEnumFor(m => m.Education)</td>
        <td>@Html.GetEducation(@Model.Education)</td>
    </tr>
</table>