@model Uma.Eservices.Models.OLE.OLEPassportInformationBlock

<table class="width_full">
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.PassportType)
        </td>
        <td>
            @Html.UmaPdfEnumFor(m => m.PassportType)
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.PassportNumber)
        </td>
        <td>
            @Model.PassportNumber
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.IssuerCountry)
        </td>
        <td>
            @Html.GetState(@Model.IssuerCountry)
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.IssuerAuthority)
        </td>
        <td>
            @Model.IssuerAuthority
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.IssuedDate)
        </td>
        <td>
            @Model.IssuedDate
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.ExpirationDate)
        </td>
        <td>
            @Model.ExpirationDate
        </td>
    </tr>
    <tr>
        <td>
            @T("I do not have a valid passport")
        </td>
        <td>
            @Model.InvalidPassport
        </td>
    </tr>
</table>
