@model Uma.Eservices.Models.OLE.OLEOPIEducationInstitutionBlock

<table class="width_full">
    <tr>
        <td>@Html.UmaPdfLabelFor(m => m.EducationalInstitution)</td>
        <td>@Html.GetEducationInstitution(@Model.EducationalInstitution)</td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.EducationalInstitutionName)
        </td>
        <td>
            @Model.EducationalInstitutionName
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.TypeOfStudies)
    </td>
        <td>
            @Html.GetTypeOfStudies(@Model.TypeOfStudies)
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.LanguageOfStudy)
    </td>
        <td>@Html.GetLanguage(@Model.LanguageOfStudy)</td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.TermStartDate)
    </td>
        <td>
            @Model.TermStartDate
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.TermEndDate)
    </td>
        <td>
            @Model.TermEndDate
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.IsPresentAttendance)
    </td>
        <td>
            @if(@Model.IsPresentAttendance.HasValue && @Model.IsPresentAttendance.Value)
            {
                @T("Present")
            }
            else
            {
                @T("Absent")
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.RegisterWhenInFinland)
    </td>
        <td>
            @if(@Model.RegisterWhenInFinland)
            {
                @T("Yes")
            }
            else
            {
                @T("No")
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.StudyExchangeProgram)
    </td>
        <td>
            @Model.StudyExchangeProgram
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.OtherStudies)
    </td>
        <td>
            @Model.OtherStudies
        </td>
    </tr>
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.OtherLevelStudies)
    </td>
        <td>
            @Model.OtherLevelStudies
        </td>
    </tr>
</table>
