@{
    string specificTitleFontName = "Montserrat";
    string specificTextFont = "Source Sans Pro";
    ViewBag.Title = "Sanbox";
}
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">General tests</h4>
                <p class="list-group-item-text">Checking loaded fonts and dynamic styles</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.ExceptionTests())" class="list-group-item">
                <h4 class="list-group-item-heading">Exceptions</h4>
                <p class="list-group-item-text">Validating site exception handling</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.LocalizationTests())" class="list-group-item">
                <h4 class="list-group-item-heading">Localization</h4>
                <p class="list-group-item-text">Validating site localization</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.Grid())" class="list-group-item">
                <h4 class="list-group-item-heading">Grid</h4>
                <p class="list-group-item-text">Grid layout</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.FileUploadTests())" class="list-group-item">
                <h4 class="list-group-item-heading">File Upload</h4>
                <p class="list-group-item-text">File Upload controls</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.TestForm())" class="list-group-item">
                <h4 class="list-group-item-heading">Test form</h4>
                <p class="list-group-item-text">Sample for forms layout and behavior</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.PdfCreationTests())" class="list-group-item">
                <h4 class="list-group-item-heading">Pdf Creation</h4>
                <p class="list-group-item-text">Simple model, just to demonstrate pdf Document</p>
            </a>
            <a href="@Url.RouteUrl("Default", result: MVC.Sandbox.CollapseTest())" class="list-group-item">
                <h4 class="list-group-item-heading">Collapse Form</h4>
                <p class="list-group-item-text">Sample of collapsing form</p>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Test of specific fonts</h1>
        <h2>Font Awesome</h2>
        <p>
            <span style="color: green;"><i class="fa fa-pencil fa-2x fa-border"></i></span>
            Green icon of pencil, in a box<br />
        </p>
        <hr />
        <h2 style="font-family: '@specificTitleFontName'">Specific TITLE font @specificTitleFontName</h2>
        <table style="width:100%;">
            <tr>
                <td width="100%">@specificTitleFontName</td>
            </tr>
            <tr>
                <td>
                    <h1>TITLE Title H1</h1>
                    <h2>TITLE Title H2</h2>
                    <h3>TITLE Title H3</h3>
                    <h4>TITLE Title H4</h4>
                    <h5>TITLE Title H5</h5>
                </td>
            </tr>
        </table>
        <hr />
        <h2 style="font-family: '@specificTextFont'">Specific general font @specificTextFont</h2>
        <table cellpadding="10">
            <tr>
                <td style="background-color: lightgray;"><span style="font-family:'@specificTextFont'; font-size: 150%; font-weight: bold">@specificTextFont font</span></td>
                <td><span style="font-family: 'Arial'; font-size: 150%; font-weight: bold">Arial</span></td>
                <td><span style="font-family: 'Times New Roman'; font-size: 150%; font-weight: bold">Times new Roman</span></td>
            </tr>
            <tr>
                <td width="33%" valign="top">
                    <span style="font-family:'@specificTextFont';">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                        id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        <strong>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                            id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        </strong>
                        <em>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                            id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        </em>
                    </span>
                </td>
                <td width="33%" valign="top">
                    <span style="font-family: 'Arial'">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                        id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        <strong>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                            id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        </strong>
                        <em>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                            id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        </em>
                    </span>
                </td>
                <td width="33%" valign="top">
                    <span style="font-family: 'Times New Roman'">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                        id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        <strong>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                            id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        </strong>
                        <em>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
                            id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br />
                        </em>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>