@using System.Web.UI.WebControls
@using Uma.Eservices.Web.Components

@model Uma.Eservices.Models.Sandbox.Kan7Model
@{
    ViewBag.Title = "Kan_7 General / Spouse info  to PDF";
    ViewBag.FeatureName = "Kan7Model";
}


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(MVC.Sandbox.Actions.PdfCreationTests(Model), FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.UmaLabelFor(m => m.Title)
                <div class="col-sm-6">
                    @HttpContext.Current.User.Identity.Name
                </div>
            </div>

            <div class="form-group">
                @Html.UmaLabelFor(m => m.Title)
                <div class="col-sm-6">
                    @Html.UmaTextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.UmaLabelFor(m => m.TypeOfApplication)
                <div class="col-sm-6">
                    @Html.UmaTextBoxFor(m => m.TypeOfApplication)
                    @Html.ValidationMessageFor(m => m.TypeOfApplication)
                </div>
            </div>

            <div class="form-group">
                @Html.UmaLabelFor(m => m.Description)
                <div class="col-sm-6">
                    @Html.UmaTextBoxFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>

            @Html.EditorFor(m => m.SpouseModel, MVC.Sandbox.Views.EditorTemplates.SpouseGeneral)

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    @Html.UmaButton("submitButton", "Save form", UmaButtonType.FormSubmit)
                    <div class="button-link-separator left">
                        <div class="mask"></div>
                    </div>
                    <a href="@Url.Action(MVC.Sandbox.RedirectBack())">Cancel</a>
                    <div class="button-link-separator left">
                        <div class="mask"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/formjs")
}

