@model Uma.Eservices.Models.OLE.OLEPassportInformationBlock

    <div class="row form-row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.PassportType)
                @Html.UmaDropDownFor(m => m.PassportType, Model.PassportTypeList)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.PassportNumber)
                @Html.UmaTextBoxFor(m => m.PassportNumber)
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.IssuerCountry)
                @Html.UmaDropDownFor(m => m.IssuerCountry, @Html.GetStateList())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.IssuerAuthority)
                @Html.UmaTextBoxFor(m => m.IssuerAuthority)
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.IssuedDate)
                @Html.UmaDatePickerFor(m => m.IssuedDate)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.ExpirationDate)
                @Html.UmaDatePickerFor(m => m.ExpirationDate)
            </div>
        </div>
    </div>

    <div class="row form-row">
        @Html.UmaCheckBoxButtonFor(m => m.InvalidPassport, @T("I do not have a valid passport").ToString())
    </div>
