@model Uma.Eservices.Models.OLE.OLEOPIFinancialSupportBlock

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.IncomeInfo)
            </div>
            @Html.UmaRadioButtonFor(m => m.IncomeInfo)
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.OtherIncome)
                @Html.TextAreaFor(m => m.OtherIncome, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.IsCurrentlyStudying)
            </div>
            @*@Html.RadioButtonFor(model => model.IsCurrentlyStudying, true, new { id = "TermsAndConditions_true" })
            <label for="TermsAndConditions_true">Yes</label>
            <br />
            @Html.RadioButtonFor(model => model.IsCurrentlyStudying, false, new { id = "TermsAndConditions_false" })
            <label for="TermsAndConditions_false">No</label>*@
            @Html.UmaRadioButtonFor(m => m.IsCurrentlyStudying, @T("Yes").ToString(), true)
            @Html.UmaRadioButtonFor(m => m.IsCurrentlyStudying, @T("No").ToString(), false)
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.IsCurrentlyWorking)
            </div>
            @Html.UmaRadioButtonFor(m => m.IsCurrentlyWorking, @T("Yes").ToString(), true)
            @Html.UmaRadioButtonFor(m => m.IsCurrentlyWorking, @T("No").ToString(), false)
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.StudyWorkplaceName)
                @Html.TextAreaFor(m => m.StudyWorkplaceName, new { @class = "form-control" })
            </div>
        </div>
    </div>

