@model Uma.Eservices.Models.OLE.OLEOPIPreviousStudiesBlock

    <h4>@T("Please fill in this information if you are applying for your first residence permit and are not an undergraduate student or exchange student.")</h4>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.PreviousStudies)
                @Html.TextAreaFor(m => m.PreviousStudies, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.PreviousStudiesConnectionToCurrent)
                @Html.TextAreaFor(m => m.PreviousStudiesConnectionToCurrent, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.WorkExperienceStatus)
                @Html.UmaRadioButtonFor(m => m.WorkExperienceStatus)
            </div>
        </div>
    </div>

    <div class="row form-row">
        <div class="col-sm-8">
            <div class="form-group">
                @Html.UmaLabelFor(m => m.WorkExperienceDescription)
                @Html.TextAreaFor(m => m.WorkExperienceDescription, new { @class = "form-control" })
            </div>
        </div>
    </div>

