@{
    ViewBag.Title = "Change password";
}
@model Uma.Eservices.Models.Account.ChangePasswordViewModel
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Change password")</div>
    </div>
</div>

<h1>@T(ViewBag.Title)</h1>
<div class="row">
    <div class="col-sm-8">
        @using (Html.BeginForm(MVC.Account.ActionNames.ChangePassword, MVC.Account.Name, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="row form-row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="form-group" style="text-align: left">
                        @Html.UmaLabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="form-group" style="text-align: left">
                        @Html.UmaLabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="form-group" style="text-align: left">
                        @Html.UmaLabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>

            <div class="row form-row" style="padding-top: 30px;">
                <div class="col-sm-4 col-sm-offset-2">
                    @Html.UmaButton("submitButton", @T("CHANGE").ToString(), UmaButtonType.FormSubmit, null, new { @class = "btn-block" })
                </div>
            </div>
        }
    </div>
</div>
