@{
    ViewBag.Title = "Email confirmation";
}
@*@model Uma.Eservices.Models.Account.LoginViewModel*@
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("E-mail confirmation")</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h1>@T("Confirmation e-mail sent")</h1>
        <p>@T("Please check your email and confirm your registration by clicking link in received email message.")</p>
@if (ViewBag.Link != null)
{
    <p>For TEST purposes you can click <a href="@ViewBag.Link">this link.</a></p>
}
    </div>
</div>
