@{
    ViewBag.Title = "E-mail is verified";
}
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("E-mail confirmation")</div>
    </div>
</div>

<h1>@T(ViewBag.Title)</h1>

<h4>@T("Your e-mail address has been successfully verified. Click button below to login with your credentials.")</h4>
@if (!@User.Identity.IsAuthenticated)
{
    @Html.UmaButtonLink("Login", Url.RouteUrl("Default", result: MVC.Account.Login()))
}
else
{
    @Html.UmaButtonLink("My applications", Url.RouteUrl("Default", result: MVC.Dashboard.Index()))
}