@model string
@{
    ViewBag.Title = "E-mail is not verified";
}
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("E-mail confirmation")</div>
    </div>
</div>

<h1>@T(ViewBag.Title)</h1>

<h4>@T("Your e-mail address has not yet verified. Please, click a link in e-mail message sent to you to confirm it.")</h4>
@Html.UmaButtonLink("Resend verification mail", @Url.Action(MVC.Account.ConfirmationEmailResend(Model)))