@{
    ViewBag.Title = "Login";
}
@model Uma.Eservices.Models.Account.LoginViewModel
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Login")</div>
    </div>
</div>

<section id="loginForm">
    @using (Html.BeginForm(MVC.Account.ActionNames.Login, MVC.Account.Name, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ReturnUrl)
    <div class="row">
        <div class="col-sm-4 text-center-div login-custom">
            <h3 style="text-align: center">
                @T("Online bank ID")<br/>
                @T("Finnish ID card")<br/>
                @T("Mobile Certificate")
            </h3>
            <div class="row login-custom-div">
                @Html.UmaButtonLink(@T("LOGIN").ToString(), @Url.Action(MVC.StrongAuthentication.Authenticate()), UmaButtonType.FormSubmit, new { @class = "btn-padded" })
            </div>
            <div class="row login-custom-div">
                <p>@T("Choose this option to login securely using strong authentification with your online banking credentials, Finnish identity cards or a Mobile Certificate.")</p>
            </div>
        </div>
        <div class="col-sm-4 login-custom-div-right text-center-div">
            <h3 style="text-align: center" class="visible-xs">@T("E-mail login")</h3>
            <div class="row">
                @Html.UmaTextBoxFor(m => m.Email, false, new { @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="row">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="row login-custom-div">
                @Html.UmaButton("submitButton", @T("LOGIN").ToString(), UmaButtonType.FormSubmit, null, new { @class = "btn-padded" })
            </div>
            <div class="row">
                <p><a class="underline-text" href="@Url.Action(MVC.Account.ActionNames.Register, MVC.Account.Name)">@T("Register new user")</a></p>
            </div>
            <div class="row">
                <p><a class="underline-text" href="@Url.Action(MVC.Account.ActionNames.ForgotPassword, MVC.Account.Name)">@T("Forgot Password?")</a></p>
            </div>
        </div>
    </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/formjs")
}
