@{
    ViewBag.Title = "Registration";
    bool hasCaptchaError = !ViewData.ModelState.IsValid && @ViewData.ModelState.ContainsKey("UmaRECaptcha");
}
@using CaptchaMvc.HtmlHelpers
@model Uma.Eservices.Models.Account.RegistrationViewModel

<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Register")</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h2>@T("There are two ways to register")</h2>
        <div class="div-gray-type-main">
            <h1 style="padding-right: 70px;"><span class="pull-left" style="padding-left: 30px;">1.</span>@T("Bank ID")</h1>
            <h1>@T("Personal ID card")</h1>
            <h1>@T("Mobile certificate")</h1>
            <div class="row row-padding-top">
                <div class="col-sm-6 col-sm-offset-1">
                    <h4>@T("If you are already in Finland and have one of the above mentioned, you can securely register here.")</h4>
                </div>
            </div>
            <div class="row form-row" style="padding-top: 30px;">
                <div class="col-sm-4 col-sm-offset-2">
                    @Html.UmaButtonLink(@T("REGISTER").ToString(), @Url.Action(MVC.StrongAuthentication.Authenticate()), UmaButtonType.FormSubmit, new { @class = "btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-8">
        <div class="div-gray-type-main">
            <h1 style="padding-right: 70px;"><span class="pull-left" style="padding-left: 30px;">2.</span>@T("E-mail account")</h1>
            <div class="row row-padding-top">
                <div class="col-sm-6 col-sm-offset-1">
                    <h4>@T("If you live outside Finland or don’t have a finnish bank account or ID card, you can register by using your personal E-mail account here.")</h4>
                </div>
            </div>

            @using (Html.BeginForm(MVC.Account.ActionNames.Register, MVC.Account.Name, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="row form-row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group" style="text-align: left">
                            @Html.UmaLabelFor(m => m.Email)
                            @Html.UmaTextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group" style="text-align: left">
                            @Html.UmaLabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group" style="text-align: left">
                            @Html.UmaLabelFor(m => m.PasswordConfirm)
                            @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PasswordConfirm)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group" style="text-align: left">
                            @Html.MathCaptcha(MVC.Shared.Views._MathCaptcha, scriptPartialViewName: MVC.Shared.Views._DefaultMathCaptchaScript)
                        </div>
                    </div>
                </div>

                <div class="row form-row" style="padding-top: 30px;">
                    <div class="col-sm-4 col-sm-offset-2">
                        @Html.UmaButton("submitButton", @T("REGISTER").ToString(), UmaButtonType.FormSubmit, null, new { @class = "btn-block" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>@T("What are the benefits to register with an ID?")</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-2">
        <h4>@T("Fast and convenient: Your application decision will be sent directly to your immigration E-service account.")</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-2">
        <h4>@T("As secure as it gets: Your account can’t be accessed in case your E-mail account becomes compromised.")</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h4>@T("But don’t worry if you have only the option of E-mail. Your application is handled the in the same way as strongly authenticated users. You can also update your account later with strong authentification method.")</h4>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/formjs")
}
