@{
    ViewBag.Title = "User profile";
}
@model Uma.Eservices.Models.Account.UserProfileModel
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Account")</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h1>@T("Welcome"), @Model.FirstName!</h1>
    </div>
</div>
<br/>

@using (Html.BeginForm(MVC.Account.ActionNames.UserProfileFullSave, MVC.Account.Name, FormMethod.Post, new { id = "userProfileForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PersonCode)
    <div id="displayName" class="row">
        <div class="col-sm-7 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @T("First name, Last name")<br />
            <h4>@Model.FullName</h4>
        </div>
    </div>
    @Html.HiddenFor(m => m.FirstName)
    @Html.HiddenFor(m => m.LastName)
    <br/>

    <div id="displayBirthday" class="row">
        <div class="col-sm-7 col-xs-6 col-sm-offset-1 col-xs-offset-2">
            @T("Date of birth")<br />
            <h4>@Model.BirthdayDisplay</h4>
        </div>
    </div>
    @Html.HiddenFor(m => m.BirthDate)
    <br/>

    <div id="displayEmail" class="row">
        <div class="col-sm-1 col-xs-2 editLink">
            <a id="editEmail" href="#">@T("EDIT")</a>
        </div>
        <div class="col-sm-7 col-xs-6">
            @T("E-Mail")<br />
            <h4>@Model.Email</h4>
        </div>
    </div>
    <div id="editorEmail" class="row" style="display: none;">
        <div class="col-sm-1 col-xs-2 editLink">
            <a class="saveForm" href="#">@T("SAVE")</a><br />
            <a id="cancelEmail" href="#">@T("Cancel")</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            @T("E-Mail")<br />
            @Html.UmaTextBoxFor(m => m.Email)
        </div>
    </div>
    <br/>

    <div id="displayMobile" class="row">
        <div class="col-sm-1 col-xs-2 editLink">
            <a id="editMobile" href="#">@T("EDIT")</a>
        </div>
        <div class="col-sm-7 col-xs-6">
            @T("Mobile phone number")<br />
            <h4>@Model.Mobile</h4>
        </div>
    </div>
    <div id="editorMobile" class="row" style="display: none;">
        <div class="col-sm-1 col-xs-2 editLink">
            <a class="saveForm" href="#">@T("SAVE")</a><br />
            <a id="cancelMobile" href="#">@T("Cancel")</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            @T("Mobile phone number")<br />
            @Html.UmaTextBoxFor(m => m.Mobile)
        </div>
    </div>
    <br/>
}


@section scripts {
    @Scripts.Render("~/bundles/formjs")
    @Scripts.Render("~/bundles/account")
}