@model Uma.Eservices.Models.OLE.OLEResidenceDurationBlock

<table class="width_full">
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.AlreadyInFinland)
        </td>
        <td>
            @if (@Model.AlreadyInFinland.HasValue)
            {
                @T("Yes")
            }
            else
            {
                @T("No")
            }
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.ArrivalDate)
        </td>
        <td>
            @Model.ArrivalDate
        </td>
    </tr>

    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.DurationOfStay)
        </td>
        <td>
            @Model.DurationOfStay
        </td>
    </tr>
</table>