@model Uma.Eservices.Models.OLE.OLEOPIPreviousStudiesBlock

  <table class="width_full">
      <tr>
          <td>
              @Html.UmaPdfLabelFor(m => m.PreviousStudies)
      </td>
          <td>
              @Model.PreviousStudies
          </td>
      </tr>
      <tr>
          <td>
              @Html.UmaPdfLabelFor(m => m.PreviousStudiesConnectionToCurrent)
      </td>
          <td>
              @Model.PreviousStudiesConnectionToCurrent
          </td>
      </tr>
      <tr>
          <td>
              @Html.UmaPdfLabelFor(m => m.WorkExperienceStatus)
      </td>
          <td>
              @Model.WorkExperienceStatus
          </td>
      </tr>
      <tr>
          <td>
              @Html.UmaPdfLabelFor(m => m.WorkExperienceDescription)
      </td>
          <td>
              @Model.WorkExperienceDescription
          </td>
      </tr>
  </table>
