@model Uma.Eservices.Models.OLE.OLEChildData

<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.PersonName.LastName)
    </td>
    @Model.PersonName.LastName
    <td></td>
</tr>
<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.PersonName.FirstName)
    </td>
    <td>
        @Model.PersonName.FirstName
    </td>
</tr>

<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.Gender)
    </td>
    <td>
        @Html.UmaPdfEnumFor(m => m.Gender)
    </td>
</tr>
<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.Birthday)
    </td>
    <td>
        @Model.Birthday
    </td>
</tr>
<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.PersonCode)
    </td>
    <td>
        @Model.PersonCode
    </td>
</tr>
<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.CurrentCitizenship)
    </td>
    <td>
        @Html.GetState(@Model.CurrentCitizenship)
    </td>
</tr>
<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.MigrationIntentions)
    </td>
    <td>
        @Html.UmaPdfEnumFor(m => m.MigrationIntentions)
    </td>
</tr>